{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="px-3 py-3 bg-white bg-opacity-75 border border-primary overflow-auto object-fit-contain border rounded">
    <div class="article-entry bg-opacity-50" id="post_detail_card">
        <div class='card-header'>
            {% load tz %}
            
            {% localtime on %}
            <p>-by <a href="{% url "profile" blog.author.username %}">{{ blog.author }}</a>| {{ blog.date|timezone:"Asia/Kolkata" }}</p>
            {% endlocaltime %}
            <h2>{{ blog.title }}</h2>
             <hr>
        </div>
        <div class="card-body">
            <p>
                {{ blog.body }}</p>
            <p>
                <a href="{% url 'blog_edit' blog.pk %}">Edit</a> | <a href="{% url 'blog_delete' blog.pk %}">Delete</a>
            </p>
            <p>Back to <a href="{% url 'blog_list' %}">All Blogs </a>.</p>
        </div>
        <hr>
        <div class="card-footer">
            <h2 class="py-3">Comments</h2>
            <div class="overflow-auto rounded bg-dark-subtle px-4 py-4" style="max-height: 50vh;">
            {% for comment in comments %}
              <p><strong><a href="{% url "profile" comment.author.username %}">{{ comment.author }}</a>:</strong> {{ comment.comment }}</p>
              <p><small>On {{ comment.comment_date }}</small></p>
              <hr>
            {% empty %}
              <p>No comments yet. Be the first to comment!</p>
            {% endfor %}
            </div>
            <hr>
            <h1 class="py-3">
                New Comment
            </h1>
        
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
        <button class="btn btn-success my-2" type="submit"> Comment </button>
            </form>
        </div>
    </div>
    {% endblock content %}