{% extends 'index.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="px-4 col-md-4 bg-white bg-opacity-50" id="home_card">
    <div class="jumbotron ">
        <h1 class="display-4">Blog app</h1>
        <p class="lead">A website built with Django.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'blog_list' %}" role="button">View All Blog's</a>
        </p>
    </div>
    <div><br><div>
</div>


{% endblock content %}