{% extends 'index.html' %}

{% block title %} {{ profile.username }} {% endblock title %}

{% block content %}

<div class="p-3 bg-white bg-opacity-75">
    <img class="profile" src="{{profile.profile_image}}" width="250" height="250" >
    <div class="ps-4 ">
        <h4>
            {{ profile.name }}<br>
            {{ profile.username }}
            {% if user.id == profile.id %}

            <a class="btn btn-secondary" href="{% url 'profile_edit' profile.pk %}">Edit Profile</a>
            {% endif %}
            <!-- <br />
            ({{ profile.id }})<br /> -->
        </h4>
        {{ profile.bio }}<br />
        <hr>
    </div>
</div>

{% endblock %}